<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Students list</title>
   
   
  
</head>

<body>
    <h1>Students list</h1>
    
      <script  type="text/javascript">
      
        let url = `ws://${window.location.host}/ws/socket-server/`
        const realTimeUpdate = new WebSocket(url)
        realTimeUpdate.onmessage = function(e) {
            let data = JSON.parse(e.data)
            console.log(data)
        }


    </script>
    
</body>
</html>